# --- Build Artifacts ---
build/

# --- Compiled files ---
*.so

# --- IDE specific ---
# clangd
.cache/
# Gemini
.gemini/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# --- OS specific ---
.DS_Store
Thumbs.db

# --- Python ---
*.egg-info/
__pycache__/
venv*/
dist/
